* {
    box-sizing: border-box;
}

.container {
    margin: 2rem auto;
    width: 100%;
}


/* Header area */

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

#menu-link-wrapper {
    overflow: hidden;
    transition: all .15s ease;
}

.menu-links-open {
    height: 18rem;
    border-bottom: 1px solid #e0e0e0;
}

.menu-links-closed {
    height: 0;
}

.navbar {
    height: 6.4rem;
}

.brand-logo {
    width: 3.6rem;
}

.burger-menu-icon {
    font-size: 3.6rem;
    cursor: pointer;
    border: 0;
}

.menu-link {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: .2rem;
    text-decoration: none;
    text-transform: uppercase;
}


/* Positioning */

.align-items-center {
    align-items: center;
}

.align-items-right {
    align-items: flex-end;
}

.space-between-items {
    justify-content: space-between;
}

.space-evenly {
    justify-content: space-evenly;
}

.flex-end {
    justify-content: flex-end;
}

section,
aside {
    position: relative;
}

section>a,
aside>a {
    display: block;
}

span {
    display: block;
}


/* Spacing */

.side-padding {
    padding-left: 2rem;
    padding-right: 2rem;
}


/* .bottom-padding {
    padding-bottom: 6rem;
} */


/* .top-padding {
    padding-top: 6rem;
} */

button {
    background-color: transparent;
}

.extra-top-margin {
    margin-top: 5rem;
}


/* Text */

.text-gray {
    color: #4b4b4b;
}

.spartan {
    font-family: 'Spartan', sans-serif;
}

html,
body {
    font-size: 10px;
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
    line-height: 1.4em;
}

strong {
    font-weight: 500;
}

.heading-1,
.heading-2,
.heading-3,
.heading-4,
.heading-5 {
    font-family: 'Spartan', sans-serif;
    letter-spacing: 0.2rem;
    line-height: 1.3em;
    padding-bottom: 1rem;
    text-align: center;
    text-transform: uppercase;
}

p,
.subtitle,
.caption {
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
    line-height: 1.4em;
    padding-bottom: 2rem;
}

.heading-1 {
    font-size: 3.6rem;
}

.heading-2 {
    font-size: 3.2rem;
}

.heading-3 {
    font-size: 2.8rem;
}

.heading-4 {
    font-size: 2.4rem;
}

.heading-5 {
    font-size: 2rem;
    text-align: left;
}

.subtitle {
    font-size: 1.8rem;
    text-transform: uppercase;
}

p {
    font-size: 1.8rem;
}

.caption {
    font-size: 1.6rem;
    text-align: center;
}

.center-text {
    text-align: center;
}

.left-text {
    text-align: left;
}

.text-list {
    font-size: 1.8rem;
    line-height: 1.4em;
}

img {
    display: block;
    max-width: 85vw;
    margin: 2rem auto;
}


/* Decoration */

.divider {
    border-top: 2px solid #ccb884;
    margin-bottom: 4rem;
    margin-top: 2rem;
    width: 50%;
}

.priority-icon {
    color: #4b4b4b;
    padding-right: 1rem;
}


/* Background - All Sections */

.bg-white {
    background-color: white;
    padding: 5rem 0;
    transform: skewY(-10deg);
}

.bg-sage {
    background-color: #ECF2EF;
    padding: 5rem 0;
    transform: skewY(-10deg);
}

.bg-gold {
    background-color: #F2EDE0;
    padding: 5rem 0;
    transform: skewY(-10deg);
}

.bg-gray {
    background-color: black;
    padding: 6rem 0;
    transform: skewY(-10deg);
}

.diagonal-box-content {
    /* border: 1px solid black; */
    max-width: 50em;
    padding: 2rem;
    margin: 0 auto;
    transform: skewY(10deg);
}


/* Buttons */

.button {
    font-size: 1.6rem;
    font-weight: 500;
    margin: 2rem 0;
    padding: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
}

.primary {
    background-color: #ccb884;
}

.secondary {
    border: 2px solid #ccb884;
}

.no-border {
    display: inline;
    padding: 1.5rem 0;
    border: 1px solid black;
}

.arrow {
    display: inline;
    /* margin: 0; */
    width: 3.5rem;
}


/* Scroll to top */

.scroll-top-button {
    border: 0;
    background: white;
    border-radius: 50%;
    color: #C1D3D9;
    font-size: 5rem;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 10;
}

.scroll-top-button:hover {
    border: 0;
    background: white;
    border-radius: 50%;
    color: #ccb884;
    font-size: 5rem;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 10;
}

.hide-scroll-button {
    display: none;
    transition: ease 1s;
}


/* Footer section */

.styled-social-icon {
    background: #ccb884;
    border-radius: 50%;
    color: #ffffff;
    font-size: 2rem;
    margin: .75rem;
    padding: 1rem;
}