* {
    box-sizing: border-box;
}

.container {
    margin: 2rem auto;
    width: 100%;
}


/* Header area */

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

#menu-link-wrapper {
    overflow: hidden;
    transition: all .15s ease;
}

.menu-link {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: .2rem;
    text-decoration: none;
    text-transform: uppercase;
}

.menu-links-open {
    height: 18rem;
    border-bottom: 1px solid #e0e0e0;
}

.menu-links-closed {
    height: 0;
}

.navbar {
    background-color: white;
    height: 6.4rem;
    z-index: 10;
}

.brand-logo {
    width: 5.6rem;
    margin-bottom: 0;
    padding-bottom: 0;
}

.burger-menu-icon {
    font-size: 3.6rem;
    cursor: pointer;
    border: 0;
    z-index: 10;
}

.burger-menu-icon:focus {
    outline: none;
}


/* Positioning */

.align-items-center {
    align-items: center;
}

.align-items-right {
    align-items: flex-end;
}

.space-between-items {
    justify-content: space-between;
}

.space-evenly {
    justify-content: space-evenly;
}

.flex-end {
    justify-content: flex-end;
}

section,
aside {
    position: relative;
}

section>a,
aside>a {
    display: block;
}

span {
    display: block;
}


/* Spacing */

.side-padding {
    padding-left: 2rem;
    padding-right: 2rem;
}

.extra-top-margin {
    margin-top: 10rem;
}

.extra-bottom-margin {
    margin-bottom: 8rem;
}

.negative-margin {
    margin-bottom: -24rem;
    margin-top: -5rem;
}

.remove-left-margin {
    margin-left: 0;
}


/* Text */

.text-gray {
    color: #4b4b4b;
}

.spartan {
    font-family: 'Spartan', sans-serif;
}

html,
body {
    font-size: 10px;
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
    line-height: 1.4em;
}

strong {
    font-weight: 500;
}

.heading-1,
.heading-2,
.heading-3,
.heading-4,
.heading-5,
p,
.subtitle,
.caption,
.icon-list,
.text-list {
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
}

.heading-1,
.heading-2,
.heading-3,
.heading-4,
.heading-5 {
    font-family: 'Spartan', sans-serif;
    letter-spacing: 0.2rem;
    line-height: 1.3em;
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: center;
    text-transform: uppercase;
}

.heading-4,
.heading-5 {
    padding-top: 8rem;
}

.projects>.heading-4,
.projects>.subtitle {
    padding-top: 0;
    padding-bottom: 2rem;
}

p,
.subtitle,
.caption {
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
    line-height: 1.4em;
    padding-bottom: 4rem;
}

.heading-1 {
    font-size: 3.6rem;
}

.heading-2 {
    font-size: 3.2rem;
}

.heading-3 {
    font-size: 2.8rem;
}

.heading-4 {
    font-size: 2.4rem;
}

.heading-5 {
    font-size: 2rem;
    text-align: left;
}

.subtitle {
    font-size: 1.8rem;
    text-transform: uppercase;
}

p {
    font-size: 1.8rem;
}

.caption {
    font-size: 1.6rem;
    text-align: center;
}

.center-text {
    text-align: center;
}

.left-text {
    text-align: left;
}

.icon-list {
    font-size: 1.8rem;
    line-height: 1.4em;
    margin-bottom: 4rem;
}

.icon-list>li {
    margin-bottom: 1.4rem;
}

.text-list {
    font-size: 1.8rem;
    line-height: 1.4em;
}

.text-list>li {
    margin-bottom: 1.4rem;
}

img {
    display: block;
    max-width: 85%;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2rem;
}

.border-img {
    border: 1px solid #e0e0e0;
}

.hidden {
    display: none;
}


/* Decoration */

.divider {
    border-top: 2px solid #ccb884;
    margin-bottom: 6rem;
    margin-top: -1rem;
    width: 50%;
    max-width: 30rem;
}

.priority-icon {
    color: #4b4b4b;
    font-size: 1.5rem;
    padding-right: 1rem;
}

.bullet {
    color: #C1D3D9;
    font-size: 1rem;
    padding-right: 1rem;
}

.positive-icon,
.negative-icon {
    color: #4b4b4b;
    font-size: 1.5rem;
    padding-right: 1rem;
}


/* Background - All Sections */

.diagonal-box-content {
    margin: 2rem auto;
    transform: skewY(6deg);
}

.bg-white {
    background-color: white;
    padding: 6rem 2rem;
    transform: skewY(-6deg);
}

.bg-sage {
    background-color: #ECF2EF;
    padding: 6rem 2rem;
    transform: skewY(-6deg);
}

.bg-gold {
    background-color: #F2EDE0;
    padding: 6rem 2rem;
    transform: skewY(-6deg);
}

.bg-gray {
    background-color: #F2F2F2;
    padding: 6rem 2rem;
    transform: skewY(-6deg);
}

.bg-trans {
    background-color: transparent;
    padding: 6rem 2rem;
    margin-top: 6rem;
    transform: skewY(-6deg);
    z-index: 5;
}


/* Horizontal scrolling */

.horiz-scroll-box {
    overflow: auto;
    text-align: center;
    white-space: nowrap;
    width: 100%;
}

.horiz-scroll-image {
    display: inline-block;
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding: 1rem;
}

.horiz-scroll-image-flush {
    display: inline-block;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.comp-logos {
    max-height: 7rem;
    justify-content: flex-start;
}

.max-height-img {
    max-height: 60rem;
}

.fullwidth-img {
    width: 100%;
}

.half-width-img {
    max-width: 60vw;
    margin-bottom: 4rem;
}

.resize-large-img {
    max-width: 40rem;
    max-height: 45rem;
}

.inline-img {
    display: inline;
    width: 100%;
    max-width: 30rem;
}

.container-width-img {
    width: 100%;
    max-width: 60rem;
}


/* Buttons */

button {
    background-color: transparent;
}

.button {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    margin: 4rem auto;
    max-width: 40rem;
    padding-top: 1.75rem;
    padding-bottom: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
}

.primary {
    background-color: #ccb884;
}

.secondary {
    border: 2px solid #ccb884;
}

.link {
    text-decoration: none;
    text-align: center;
}

.arrow {
    display: inline-block;
    margin: 0;
    padding-bottom: 0;
    padding-left: 1rem;
    width: 4.5rem;
}


/* Scroll to top */

.scroll-top-button {
    border: 0;
    background: transparent;
    border-radius: 50%;
    color: #C1D3D9;
    font-size: 4rem;
    position: fixed;
    bottom: 8rem;
    right: 5rem;
    z-index: 10;
}

.scroll-top-button:hover {
    color: #ccb884;
}

.scroll-top-button:focus {
    outline: none;
}

.hide-scroll-button {
    display: none;
    transition: ease 1s;
}


/* Footer section */

.styled-social-icon {
    background: #ccb884;
    border-radius: 50%;
    color: #ffffff;
    font-size: 2rem;
    margin: .75rem;
    padding: 1rem;
}


/* Grid sections */

.grid-two {
    /* border: 1px solid red; */
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: auto;
    margin: 2rem auto;
    width: 100%;
    max-width: 60rem;
}

.roles-tools-1,
.roles-tools-2,
.roles-tools-3,
.roles-tools-4,
.roles-tools-5,
.roles-tools-6 {
    text-align: left;
    margin: 0;
    padding: 1rem 0;
    line-height: 1.4rem;
}

.roles-tools-1 {
    grid-row: 1 / 1;
}

.roles-tools-2 {
    grid-row: 2 / 2;
}

.roles-tools-3 {
    grid-row: 3 / 3;
}

.roles-tools-4 {
    grid-row: 4 / 4;
}

.roles-tools-5 {
    grid-row: 5 / 5;
}

.roles-tools-6 {
    grid-row: 6 / 6;
}

.personas {
    grid-column-gap: 3rem;
    max-width: 75vw;
}

.personas-1,
.personas-2,
.personas-3,
.personas-4,
.personas-5,
.personas-6 {
    margin: 0 auto;
    padding: 1rem 0;
    text-align: left;
    line-height: 1.4rem;
}

.personas-1 {
    grid-row: 1 / 1;
}

.personas-2 {
    grid-row: 2 / 2;
}

.personas-3 {
    grid-row: 3 / 3;
}

.personas-4 {
    grid-row: 4 / 4;
}

.personas-5 {
    grid-row: 5 / 5;
}

.personas-6 {
    grid-row: 6 / 6;
}

.grid-three {
    /* border: 1px solid black; */
    display: grid;
    grid-row-gap: 1rem;
    grid-column-gap: 3rem;
    grid-template-columns: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 5rem;
    width: 100%;
    max-width: 75vw;
}

.comp-item-1,
.comp-item-2,
.comp-item-3,
.comp-item-4,
.comp-item-5,
.comp-item-6 {
    text-align: left;
    margin: 0;
    padding: 1rem 0;
}

.comp-item-1 {
    grid-row: 1 / 1;
}

.comp-item-2 {
    grid-row: 2 / 2;
}

.comp-item-3 {
    grid-row: 3 / 3;
}

.comp-item-4 {
    grid-row: 4 / 4;
}

.comp-item-5 {
    grid-row: 5 / 5;
}

.comp-item-6 {
    grid-row: 6 / 6;
}


/* Media queries */


/* Mobile */

@media screen and (max-width: 767px) {
    .desktop {
        display: none;
    }
    .expanded-menu {
        display: none;
    }
}


/* Tablet */

@media screen and (min-width: 768px) {
    .mobile {
        display: none;
    }
    .expanded-menu {
        display: none;
    }
    .grid-two>.roles-tools {
        grid-template-columns: auto auto;
    }
    .roles-tools-5 {
        grid-row: 1 / 2;
    }
    .roles-tools-6 {
        grid-row: 2 / 5;
    }
}


/* Desktop */

@media screen and (min-width: 1008px) {
    .mobile {
        display: none;
    }
    .burger-menu {
        display: none;
    }
    .menu-links-open {
        display: none;
    }
    .expanded-menu {
        display: flex;
    }
    /* Expanded menu */
    .brand-logo-large {
        width: 8rem;
        padding-top: 2rem;
        padding-left: 2rem;
        margin: 0;
    }
    .flex-grow-logo {
        flex-grow: 10;
    }
    .flex-grow-link {
        flex-grow: 1;
        text-align: center;
    }
    /* H1 */
    .heading-1 {
        font-size: 5.6rem;
    }
    /* Grids */
    .grid-3 {
        grid-template-columns: auto auto auto;
    }
    .comp-item-3,
    .comp-item-5 {
        grid-row: 1 / 1;
    }
    .comp-item-4,
    .comp-item-6 {
        grid-row: 2 / 2;
    }
    .personas {
        grid-template-columns: 50% 50%;
    }
    .personas-4 {
        grid-row: 1 / 1;
    }
    .personas-5 {
        grid-row: 2 / 2;
    }
    .personas-6 {
        grid-row: 3 / 3;
    }
}